---
import Layout from "../layouts/Layout.astro";
import mail from "../assets/mail.svg";
import build from "../assets/build.svg";
import call from "../assets/call.svg";
---

<Layout title="Yoshlar Venture">
  <div class="flex justify-between items-center">
    <h2
      class="max-w-[600px] text-2xl sm:text-3xl lg:text-4xl font-bold dark:text-white text-gray-900 mb-8 border-l-4 border-[#F28E46] pl-4 mt-[53px]"
    >
      Kontakt
    </h2>
    <button
      class="border-[2px] w-[50px] h-[50px] flex items-center justify-center rounded-full border-[#EBEBEB] dark:border-[#535862] dark:text-white text-black"
      >&#8592;</button
    >
  </div>
  <div
    class="flex flex-col sm:flex-row gap-[58px] text-black dark:text-white mt-[50px] sm:mt-[84px] mb-[43px] sm:mb-[93px]"
  >
    <div
      class="border rounded-3xl border-[#EBEBEB] p-[18px] h-[266px] flex flex-col gap-4"
    >
      <div class="flex items-center gap-3 p-4">
        <img src={mail.src} alt="Mail" />
        <p class="text-[18px]">support@yoshlarventures.com</p>
      </div>
      <div class="flex items-center gap-3 p-4">
        <img src={build.src} alt="Mail" />
        <p class="text-[18px]">
          12720 Hillcrest Road Suite 980, Dallas, TX 75230
        </p>
      </div>
      <div class="flex items-center gap-3 p-4">
        <img src={call.src} alt="Mail" />
        <p class="text-[18px]">+998 99 445 5566</p>
      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d47957.4376758804!2d69.25377351118344!3d41.30146971801885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1750851818511!5m2!1sen!2s"
      class="max-w-[835px] w-full h-[347px] sm:h-[436px] rounded-2xl"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      aria-label="Yoshlar Ventures location on map"></iframe>
  </div>
</Layout>
