---
import WalletCheck   from "../../assets/images/wallet-check.svg";
import MoneySend     from "../../assets/images/money-send.svg";
import DeviceMessage from "../../assets/images/device-message.svg";
import Wallet        from "../../assets/images/wallet.svg";

const { strings } = Astro.props;
// Har bir kartaga mos ikonkalar
const icons = [WalletCheck, MoneySend, DeviceMessage, Wallet];
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-[16px] mb-[50px] sm:mb-[138px]">
  {strings.map((text, i) => (
    <div
      key={i}
      class="rounded-3xl p-2 sm:p-6 flex flex-row items-center sm:items-start sm:flex-col gap-4 bg-[#E0FF00]"
    >
      <div
        class="w-[83px] sm:w-[48px] h-[83px] sm:h-[48px] bg-white rounded-2xl p-[22px] sm:p-3 flex items-center justify-center flex-shrink-0"
      >
        <img
          src={icons[i].src}
          alt="icon"
          class="w-[40px] h-[40px] sm:w-6 sm:h-6"
        />
      </div>
      <p class="text-black text-[20px] sm:text-[16px]">
        {text}
      </p>
    </div>
  ))}
</div>
