---
import Lamp from "../../assets/images/Frame 1000005242.svg";
---

<section
  class="relative text-center pt-[50px] sm:pt-[136px] pb-[50px] sm:pb-[220px] sm:mb-[130px]"
  style="background-image: url('/public/Background\ pattern.png');
         background-size: cover;
         background-position: center;"
>
  <div class="container mx-auto flex flex-col items-center space-y-6">
    <!-- Tagline -->
    <p
      class="bg-[#E0FF00] text-black rounded-[40px]
             px-4 py-3 text-sm font-medium"
    >
      Siz yarating — biz qanot beramiz
    </p>

    <!-- Heading -->
    <h1
      class="text-3xl sm:text-6xl font-semibold
            leading-tight text-black dark:text-white"
    >
      G'oyangiz bor, lekin hali hech<br class="hidden sm:block" />
      kim eshitmaganmı?
    </h1>

    <!-- Button -->
    <a
      href="/Form"
      class="inline-flex items-center justify-center
             bg-gradient-to-r from-[#F9B513]
             to-[#EA601E] text-white text-[16px]
             sm:text-xl font-semibold rounded-2xl
             pl-8 pr-1.5 py-1.5 gap-4 sm:gap-4
             shadow-lg hover:opacity-95 transition drop-shadow-2xl"
    >
      Ariza yuborish
      <img
        src={Lamp.src}
        alt="arrow icon"
        class="w-[38px] h-[40px] sm:w-[50px] sm:h-[52px]
               rounded-2xl"
      />
    </a>
  </div>
</section>
