---
// src/components/Home/MissionStatement.astro
const { lang, strings } = Astro.props;  
// expect strings === allStrings.missionStatement
---

<section id="mission">
  <div class="flex flex-col max-w-3xl mt-[50px] mb-5 sm:mb-20 sm:mt-20 sm:gap-10 gap-5">
    <h2
      class="max-w-[650px] text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-900 mb-6 border-l-4 border-[#F28E46] pl-4 font-inter-tight dark:text-white"
    >
      {strings.part1} 
      <span class="text-[#F28E46]">{strings.highlight}</span>
      {strings.part2}
    </h2>
    <p
      class="text-gray-700 leading-relaxed text-lg font-inter-tight dark:text-[#B5B5B5]"
    >
      {strings.description}
    </p>
  </div>
</section>
