---
import Yoshlar from "../../assets/images/yoshlarlogo.svg";
import YoshlarDark from "../../assets/images/Dark-gerb.png";
import Jamgarmasi from "../../assets/images/jamgarmasi.svg";
---

<section>
  <div class="w-full mx-auto flex flex-col gap-[50px] sm:gap-10 mb-[50px] sm:mb-20">
    <!-- Section title -->
    <h2 class="max-w-[250px] text-2xl sm:text-3xl font-bold dark:text-white text-gray-900 mb-8 sm:mb-10 border-l-4 border-[#F28E46] pl-4 font-inter-tight">
      Bizga ishongan hamkorlarimiz
    </h2>

    <!-- Cards grid -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <!-- Card 1 -->
      <div class="mobile-card-bg py-[50px] flex flex-col items-center gap-[31px] rounded-[32px]">
        <img
          src={Yoshlar.src}
          alt="Yoshlar logotipi"
          class="w-[236px] h-[204px] block dark:hidden"
        />
        <img
          src={YoshlarDark.src}
          alt="Yoshlar logotipi (Dark mode)"
          class="w-[236px] h-[202px] hidden dark:block"
        />
        <a
          href="#"
          class="bg-white cursor-pointer text-[#F28E46] font-semibold rounded-[24px] text-xl border border-orange-200 px-6 py-2 hover:bg-orange-50 transition font-inter-tight custom-shadow"
        >
          Ko'proq o'qish
        </a>
      </div>

      <!-- Card 2 -->
      <div class="mobile-card-bg py-[50px] flex flex-col items-center gap-[31px] rounded-[32px]">
        <img
          src={Jamgarmasi.src}
          alt="Jamg'armasi logotipi"
          class="w-[204px] h-[204px]"
        />
        <a
          href="#"
          class="bg-white text-[#F28E46] cursor-pointer font-semibold rounded-[24px] text-xl border border-orange-200 px-6 py-2 hover:bg-orange-50 transition font-inter-tight custom-shadow"
        >
          Ko'proq o'qish
        </a>
      </div>
    </div>
  </div>
</section>
