---

---

<section id="stories" class="py-12 sm:py-16">
  <div>
    <!-- Section Title -->
    <h2
      class="max-w-[600px] text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-900 mb-6 border-l-4 border-[#F28E46] pl-4 font-inter-tight dark:text-white"
    >
      Biz ishongan g'oyalar — hozir kompaniyaga aylangan
    </h2>

    <!-- Gradient Quote Block -->
    <div
      class="bg-gradient-to-br from-brand-orange-start to-brand-orange-end rounded-[24px] p-[40px] sm:p-[40px] lg:p-10 overflow-hidden"
      style="
              background-image: url('/public/BgImg.png'),linear-gradient(to bottom right , #F9B513, #EA601E);
              background-size: 100% 130%;
              background-position: top center;
              background-repeat: repeat-y;
              <!-- background-color: #f28e46; -->
            "
    >
      <div class="border-l-4 border-white pl-4 sm:pl-6 space-y-4 text-white">
        <p class="text-medium sm:text-xl font-inter-tight">
          Eng yaxshi loyihalar ideal holatda tug'ilmaydi.
        </p>
        <p class="text-medium sm:text-xl font-inter-tight">
          Aksincha, hech narsasiz boshlanganlar eng uzoqqa boradi.
        </p>
        <p class="max-w-[700px] text-medium sm:text-xl font-inter-tight">
          Siz "hali tayyor emasman" debaysizmi? Bu — normal. Biz aynan
          shundaylarni eshitamiz.
        </p>
      </div>
    </div>
  </div>
</section>
